rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /prevision_projetos/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /prevision_atividades/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /prevision_pavimentos/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /prevision_servicos/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /prevision_marcos/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /prevision_linhas_base/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /prevision_responsaveis/{document} {
      allow read: if true;
      allow write: if false;
    }

  }
}
